li, ul {
	color: #29282d;
}

.full-width-no-picture .qodef-ib-front-holder-inner {
	background: none;
}

.qodef-info-box-holder.qodef-info-box-with-image:hover 	.qodef-ib-front-holder-inner {
		background: none !important;
	}

.qodef-info-box-holder.qodef-info-box-with-image:hover .qodef-ib-front-holder {
    margin-top: -18em;
}

.qodef-ib-overlay {
    background-position: center center;
}

.qodef-info-box-holder .qodef-ib-front-holder .qodef-ib-bottom-holder {
	padding: 0;
}

.qodef-info-box-holder .qodef-ib-front-holder {
	width: 100% !important;
}
.full-width-header, .full-width-header-home {
	min-height: 480px !important;
}
.full-width-header-inner {
	height: 480px !important;
}
.qodef-full-width-inner {
	padding-top: 0px !important;
}

.full-width-header, .full-width-header-home .qodef-ib-overlay {
    background-position: center center;
}

.qodef-info-box-holder.qodef-info-box-with-image:hover > .qodef-info-box-holder .qodef-ib-front-holder{
	padding: 0px !important;
}


.vc_column_container>.vc_column-inner {
padding-left: 0px !important;
	padding-right: 0px !important;
}

.qodef-info-box-holder.qodef-info-box-with-image { 
height: 600px !important;
padding: 0 !important;
}


.qodef-info-box-holder .qodef-info-box-inner {
	display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.qodef-info-box-holder .qodef-ib-front-holder:hover {
	padding: 20px !important;
}

.qodef-content .qodef-content-inner>.qodef-container>.qodef-container-inner, .qodef-content .qodef-content-inner>.qodef-full-width>.qodef-full-width-inner {
	padding-bottom: 0px !important;
}

.qodef-info-box-holder .qodef-ib-front-holder .qodef-ib-title {
	font-size: 4em;
}

.wpcf7-form-control.wpcf7-text, .wpcf7-form-control.wpcf7-textarea {
	border: 1px solid #363636;
}

.qodef-info-box-holder .qodef-ib-front-holder .qodef-ib-text-holder p {
	color: white;
}

.white-text {
	color: white !important;
}
.qodef-ib-top-holder {
    margin-top: 0px !important;
}
.vc_row .qodef-grid-line-center, .vc_row .qodef-grid-line-right {
	background: none;

}

.qodef-team-image {
	height: 400px
}



.qodef-ib-front-holder-inner {
    background: rgba(204, 20, 20, 0.6);
	padding: 0 0.2em;
}

.full-width-header-home .qodef-ib-front-holder-inner {
	background: transparent !important;
}

.qodef-ib-front-holder-inner:hover {
	background: none;
	padding: 0;
}

.white-text h4, .white-text p {
	color: white !important
}

.red-text {
	color: #ec3438;
}

.qodef-top-bar .qodef-btn.qodef-btn-small .qodef-btn-text {
	font-size: 20px;
}



.qodef-post-info-author-image {
    display: none !important;
}

#tribe-events .tribe-events-button, #tribe-events .tribe-events-button:hover, #tribe_events_filters_wrapper input[type=submit], .tribe-events-button, .tribe-events-button.tribe-active:hover, .tribe-events-button.tribe-inactive, .tribe-events-button:hover, .tribe-events-calendar td.tribe-events-present div[id*=tribe-events-daynum-], .tribe-events-calendar td.tribe-events-present div[id*=tribe-events-daynum-]>a {
    background-color: #ec3438;
}
.vc_row {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

span.wpcf7-list-item {
    display: block;
    padding: 0.2em 0;
}

label {
    font-weight: bold;
    text-transform: uppercase;
}



 .gmap_canvas {
        position: relative;
        padding-bottom: 75%;
        height: 0;
        overflow: hidden;
    }
    .gmap_canvas iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100% !important;
        height: 100% !important;
    }

.qodef-widget-title-holder h5.qodef-widget-title {
	color: #363636 !important;
}